name: GitHub Actions
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  react:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-varsion: [17.x]
    steps:
      - name: get project
        uses: actions/checkout@v3
      - name: Starings Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: install modules
        run: npm install
      - name: run eslint
        run: npm run esl


